@import "./jibe-reset.css";

/* These are mostly copied from Tailwind,
 * but with a few differences.
 */
:root {
  /* Font families */
  --family-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --family-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Font sizes */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;
  --font-6xl: 3.75rem;

  /* Line heights */
  --leading-4xs: 0.75;
  --leading-3xs: 0.875;
  --leading-2xs: 1;
  --leading-xs: 1.25;
  --leading-sm: 1.375;
  --leading-md: 1.5;
  --leading-lg: 1.625;
  --leading-xl: 2;

  /* Letter spacing */
  --tracking-xs: -0.05em;
  --tracking-sm: -0.025em;
  --tracking-md: 0em;
  --tracking-lg: 0.025em;
  --tracking-xl: 0.05em;
  --tracking-2xl: 0.1em;

  /* Font weights */
  --weight-thin: 100;
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;
  --weight-black: 900;

  /* Borders */
  --border-md: 1px;
  --border-lg: 2px;
  --border-xl: 4px;

  /* Radius */
  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.375rem;
  --radius-xl: 0.5rem;
  --radius-2xl: 0.75rem;
  --radius-3xl: 1rem;
  --radius-4xl: 1.5rem;
  --radius-full: 9999px;

  /* Sizes */
  --size-0p5: 0.125rem;
  --size-1: 0.25rem;
  --size-1p5: 0.375rem;
  --size-2: 0.5rem;
  --size-2p5: 0.625rem;
  --size-3: 0.75rem;
  --size-3p5: 0.875rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-14: 3.5rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --size-28: 7rem;
  --size-32: 8rem;
  --size-36: 9rem;
  --size-40: 10rem;
  --size-44: 11rem;
  --size-48: 12rem;
  --size-52: 13rem;
  --size-56: 14rem;
  --size-60: 15rem;
  --size-64: 16rem;
  --size-72: 18rem;
  --size-80: 20rem;
  --size-96: 24rem;

  /* Shadow
   *
   * Example usage:
   *   box-shadow: var(--shadow-md);
   *
   * or:
   *   --shadow-color: var(--color-blue-700);
   *   box-shadow: var(--shadow-md);
   */
  --shadow-color: inherit;
  --shadow-sm: 0 1px 2px 0 rgb(var(--shadow-color) / 0.05);
  --shadow-md: 0 1px 3px 0 rgb(var(--shadow-color) / 0.1), 0 1px 2px -1px rgb(var(--shadow-color) / 0.1);
  --shadow-lg: 0 4px 6px -1px rgb(var(--shadow-color) / 0.1), 0 2px 4px -2px rgb(var(--shadow-color) / 0.1);
  --shadow-xl: 0 10px 15px -3px rgb(var(--shadow-color) / 0.1), 0 4px 6px -4px rgb(var(--shadow-color) / 0.1);
  --shadow-2xl: 0 20px 25px -5px rgb(var(--shadow-color) / 0.1), 0 8px 10px -6px rgb(var(--shadow-color) / 0.1);
  --shadow-3xl: 0 25px 50px -12px rgb(var(--shadow-color) / 0.25);

  /* Full colors palette (raw) */
  --raw-color-black: 0 0 0;
  --raw-color-white: 255 255 255;
  --raw-color-slate-50: 248 250 252;
  --raw-color-slate-100: 241 245 249;
  --raw-color-slate-200: 226 232 240;
  --raw-color-slate-300: 203 213 225;
  --raw-color-slate-400: 148 163 184;
  --raw-color-slate-500: 100 116 139;
  --raw-color-slate-600: 71 85 105;
  --raw-color-slate-700: 51 65 85;
  --raw-color-slate-800: 30 41 59;
  --raw-color-slate-900: 15 23 42;
  --raw-color-slate-950: 2 6 23;
  --raw-color-gray-50: 249 250 251;
  --raw-color-gray-100: 243 244 246;
  --raw-color-gray-200: 229 231 235;
  --raw-color-gray-300: 209 213 219;
  --raw-color-gray-400: 156 163 175;
  --raw-color-gray-500: 107 114 128;
  --raw-color-gray-600: 75 85 99;
  --raw-color-gray-700: 55 65 81;
  --raw-color-gray-800: 31 41 55;
  --raw-color-gray-900: 17 24 39;
  --raw-color-gray-950: 3 7 18;
  --raw-color-zinc-50: 250 250 250;
  --raw-color-zinc-100: 244 244 245;
  --raw-color-zinc-200: 228 228 231;
  --raw-color-zinc-300: 212 212 216;
  --raw-color-zinc-400: 161 161 170;
  --raw-color-zinc-500: 113 113 122;
  --raw-color-zinc-600: 82 82 91;
  --raw-color-zinc-700: 63 63 70;
  --raw-color-zinc-800: 39 39 42;
  --raw-color-zinc-900: 24 24 27;
  --raw-color-zinc-950: 9 9 11;
  --raw-color-neutral-50: 250 250 250;
  --raw-color-neutral-100: 245 245 245;
  --raw-color-neutral-200: 229 229 229;
  --raw-color-neutral-300: 212 212 212;
  --raw-color-neutral-400: 163 163 163;
  --raw-color-neutral-500: 115 115 115;
  --raw-color-neutral-600: 82 82 82;
  --raw-color-neutral-700: 64 64 64;
  --raw-color-neutral-800: 38 38 38;
  --raw-color-neutral-900: 23 23 23;
  --raw-color-neutral-950: 10 10 10;
  --raw-color-stone-50: 250 250 249;
  --raw-color-stone-100: 245 245 244;
  --raw-color-stone-200: 231 229 228;
  --raw-color-stone-300: 214 211 209;
  --raw-color-stone-400: 168 162 158;
  --raw-color-stone-500: 120 113 108;
  --raw-color-stone-600: 87 83 78;
  --raw-color-stone-700: 68 64 60;
  --raw-color-stone-800: 41 37 36;
  --raw-color-stone-900: 28 25 23;
  --raw-color-stone-950: 12 10 9;
  --raw-color-red-50: 254 242 242;
  --raw-color-red-100: 254 226 226;
  --raw-color-red-200: 254 202 202;
  --raw-color-red-300: 252 165 165;
  --raw-color-red-400: 248 113 113;
  --raw-color-red-500: 239 68 68;
  --raw-color-red-600: 220 38 38;
  --raw-color-red-700: 185 28 28;
  --raw-color-red-800: 153 27 27;
  --raw-color-red-900: 127 29 29;
  --raw-color-red-950: 69 10 10;
  --raw-color-orange-50: 255 247 237;
  --raw-color-orange-100: 255 237 213;
  --raw-color-orange-200: 254 215 170;
  --raw-color-orange-300: 253 186 116;
  --raw-color-orange-400: 251 146 60;
  --raw-color-orange-500: 249 115 22;
  --raw-color-orange-600: 234 88 12;
  --raw-color-orange-700: 194 65 12;
  --raw-color-orange-800: 154 52 18;
  --raw-color-orange-900: 124 45 18;
  --raw-color-orange-950: 67 20 7;
  --raw-color-amber-50: 255 251 235;
  --raw-color-amber-100: 254 243 199;
  --raw-color-amber-200: 253 230 138;
  --raw-color-amber-300: 252 211 77;
  --raw-color-amber-400: 251 191 36;
  --raw-color-amber-500: 245 158 11;
  --raw-color-amber-600: 217 119 6;
  --raw-color-amber-700: 180 83 9;
  --raw-color-amber-800: 146 64 14;
  --raw-color-amber-900: 120 53 15;
  --raw-color-amber-950: 69 26 3;
  --raw-color-yellow-50: 254 252 232;
  --raw-color-yellow-100: 254 249 195;
  --raw-color-yellow-200: 254 240 138;
  --raw-color-yellow-300: 253 224 71;
  --raw-color-yellow-400: 250 204 21;
  --raw-color-yellow-500: 234 179 8;
  --raw-color-yellow-600: 202 138 4;
  --raw-color-yellow-700: 161 98 7;
  --raw-color-yellow-800: 133 77 14;
  --raw-color-yellow-900: 113 63 18;
  --raw-color-yellow-950: 66 32 6;
  --raw-color-lime-50: 247 254 231;
  --raw-color-lime-100: 236 252 203;
  --raw-color-lime-200: 217 249 157;
  --raw-color-lime-300: 190 242 100;
  --raw-color-lime-400: 163 230 53;
  --raw-color-lime-500: 132 204 22;
  --raw-color-lime-600: 101 163 13;
  --raw-color-lime-700: 77 124 15;
  --raw-color-lime-800: 63 98 18;
  --raw-color-lime-900: 54 83 20;
  --raw-color-lime-950: 26 46 5;
  --raw-color-green-50: 240 253 244;
  --raw-color-green-100: 220 252 231;
  --raw-color-green-200: 187 247 208;
  --raw-color-green-300: 134 239 172;
  --raw-color-green-400: 74 222 128;
  --raw-color-green-500: 34 197 94;
  --raw-color-green-600: 22 163 74;
  --raw-color-green-700: 21 128 61;
  --raw-color-green-800: 22 101 52;
  --raw-color-green-900: 20 83 45;
  --raw-color-green-950: 5 46 22;
  --raw-color-emerald-50: 236 253 245;
  --raw-color-emerald-100: 209 250 229;
  --raw-color-emerald-200: 167 243 208;
  --raw-color-emerald-300: 110 231 183;
  --raw-color-emerald-400: 52 211 153;
  --raw-color-emerald-500: 16 185 129;
  --raw-color-emerald-600: 5 150 105;
  --raw-color-emerald-700: 4 120 87;
  --raw-color-emerald-800: 6 95 70;
  --raw-color-emerald-900: 6 78 59;
  --raw-color-emerald-950: 2 44 34;
  --raw-color-teal-50: 240 253 250;
  --raw-color-teal-100: 204 251 241;
  --raw-color-teal-200: 153 246 228;
  --raw-color-teal-300: 94 234 212;
  --raw-color-teal-400: 45 212 191;
  --raw-color-teal-500: 20 184 166;
  --raw-color-teal-600: 13 148 136;
  --raw-color-teal-700: 15 118 110;
  --raw-color-teal-800: 17 94 89;
  --raw-color-teal-900: 19 78 74;
  --raw-color-teal-950: 4 47 46;
  --raw-color-cyan-50: 236 254 255;
  --raw-color-cyan-100: 207 250 254;
  --raw-color-cyan-200: 165 243 252;
  --raw-color-cyan-300: 103 232 249;
  --raw-color-cyan-400: 34 211 238;
  --raw-color-cyan-500: 6 182 212;
  --raw-color-cyan-600: 8 145 178;
  --raw-color-cyan-700: 14 116 144;
  --raw-color-cyan-800: 21 94 117;
  --raw-color-cyan-900: 22 78 99;
  --raw-color-cyan-950: 8 51 68;
  --raw-color-sky-50: 240 249 255;
  --raw-color-sky-100: 224 242 254;
  --raw-color-sky-200: 186 230 253;
  --raw-color-sky-300: 125 211 252;
  --raw-color-sky-400: 56 189 248;
  --raw-color-sky-500: 14 165 233;
  --raw-color-sky-600: 2 132 199;
  --raw-color-sky-700: 3 105 161;
  --raw-color-sky-800: 7 89 133;
  --raw-color-sky-900: 12 74 110;
  --raw-color-sky-950: 8 47 73;
  --raw-color-blue-50: 239 246 255;
  --raw-color-blue-100: 219 234 254;
  --raw-color-blue-200: 191 219 254;
  --raw-color-blue-300: 147 197 253;
  --raw-color-blue-400: 96 165 250;
  --raw-color-blue-500: 59 130 246;
  --raw-color-blue-600: 37 99 235;
  --raw-color-blue-700: 29 78 216;
  --raw-color-blue-800: 30 64 175;
  --raw-color-blue-900: 30 58 138;
  --raw-color-blue-950: 23 37 84;
  --raw-color-indigo-50: 238 242 255;
  --raw-color-indigo-100: 224 231 255;
  --raw-color-indigo-200: 199 210 254;
  --raw-color-indigo-300: 165 180 252;
  --raw-color-indigo-400: 129 140 248;
  --raw-color-indigo-500: 99 102 241;
  --raw-color-indigo-600: 79 70 229;
  --raw-color-indigo-700: 67 56 202;
  --raw-color-indigo-800: 55 48 163;
  --raw-color-indigo-900: 49 46 129;
  --raw-color-indigo-950: 30 27 75;
  --raw-color-violet-50: 245 243 255;
  --raw-color-violet-100: 237 233 254;
  --raw-color-violet-200: 221 214 254;
  --raw-color-violet-300: 196 181 253;
  --raw-color-violet-400: 167 139 250;
  --raw-color-violet-500: 139 92 246;
  --raw-color-violet-600: 124 58 237;
  --raw-color-violet-700: 109 40 217;
  --raw-color-violet-800: 91 33 182;
  --raw-color-violet-900: 76 29 149;
  --raw-color-violet-950: 46 16 101;
  --raw-color-purple-50: 250 245 255;
  --raw-color-purple-100: 243 232 255;
  --raw-color-purple-200: 233 213 255;
  --raw-color-purple-300: 216 180 254;
  --raw-color-purple-400: 192 132 252;
  --raw-color-purple-500: 168 85 247;
  --raw-color-purple-600: 147 51 234;
  --raw-color-purple-700: 126 34 206;
  --raw-color-purple-800: 107 33 168;
  --raw-color-purple-900: 88 28 135;
  --raw-color-purple-950: 59 7 100;
  --raw-color-fuchsia-50: 253 244 255;
  --raw-color-fuchsia-100: 250 232 255;
  --raw-color-fuchsia-200: 245 208 254;
  --raw-color-fuchsia-300: 240 171 252;
  --raw-color-fuchsia-400: 232 121 249;
  --raw-color-fuchsia-500: 217 70 239;
  --raw-color-fuchsia-600: 192 38 211;
  --raw-color-fuchsia-700: 162 28 175;
  --raw-color-fuchsia-800: 134 25 143;
  --raw-color-fuchsia-900: 112 26 117;
  --raw-color-fuchsia-950: 74 4 78;
  --raw-color-pink-50: 253 242 248;
  --raw-color-pink-100: 252 231 243;
  --raw-color-pink-200: 251 207 232;
  --raw-color-pink-300: 249 168 212;
  --raw-color-pink-400: 244 114 182;
  --raw-color-pink-500: 236 72 153;
  --raw-color-pink-600: 219 39 119;
  --raw-color-pink-700: 190 24 93;
  --raw-color-pink-800: 157 23 77;
  --raw-color-pink-900: 131 24 67;
  --raw-color-pink-950: 80 7 36;
  --raw-color-rose-50: 255 241 242;
  --raw-color-rose-100: 255 228 230;
  --raw-color-rose-200: 254 205 211;
  --raw-color-rose-300: 253 164 175;
  --raw-color-rose-400: 251 113 133;
  --raw-color-rose-500: 244 63 94;
  --raw-color-rose-600: 225 29 72;
  --raw-color-rose-700: 190 18 60;
  --raw-color-rose-800: 159 18 57;
  --raw-color-rose-900: 136 19 55;
  --raw-color-rose-950: 76 5 25;

  /* Full colors palette (ready to use) */
  --color-black: rgb(var(--raw-color-black));
  --color-white: rgb(var(--raw-color-white));
  --color-slate-50: rgb(var(--raw-color-slate-50));
  --color-slate-100: rgb(var(--raw-color-slate-100));
  --color-slate-200: rgb(var(--raw-color-slate-200));
  --color-slate-300: rgb(var(--raw-color-slate-300));
  --color-slate-400: rgb(var(--raw-color-slate-400));
  --color-slate-500: rgb(var(--raw-color-slate-500));
  --color-slate-600: rgb(var(--raw-color-slate-600));
  --color-slate-700: rgb(var(--raw-color-slate-700));
  --color-slate-800: rgb(var(--raw-color-slate-800));
  --color-slate-900: rgb(var(--raw-color-slate-900));
  --color-slate-950: rgb(var(--raw-color-slate-950));
  --color-gray-50: rgb(var(--raw-color-gray-50));
  --color-gray-100: rgb(var(--raw-color-gray-100));
  --color-gray-200: rgb(var(--raw-color-gray-200));
  --color-gray-300: rgb(var(--raw-color-gray-300));
  --color-gray-400: rgb(var(--raw-color-gray-400));
  --color-gray-500: rgb(var(--raw-color-gray-500));
  --color-gray-600: rgb(var(--raw-color-gray-600));
  --color-gray-700: rgb(var(--raw-color-gray-700));
  --color-gray-800: rgb(var(--raw-color-gray-800));
  --color-gray-900: rgb(var(--raw-color-gray-900));
  --color-gray-950: rgb(var(--raw-color-gray-950));
  --color-zinc-50: rgb(var(--raw-color-zinc-50));
  --color-zinc-100: rgb(var(--raw-color-zinc-100));
  --color-zinc-200: rgb(var(--raw-color-zinc-200));
  --color-zinc-300: rgb(var(--raw-color-zinc-300));
  --color-zinc-400: rgb(var(--raw-color-zinc-400));
  --color-zinc-500: rgb(var(--raw-color-zinc-500));
  --color-zinc-600: rgb(var(--raw-color-zinc-600));
  --color-zinc-700: rgb(var(--raw-color-zinc-700));
  --color-zinc-800: rgb(var(--raw-color-zinc-800));
  --color-zinc-900: rgb(var(--raw-color-zinc-900));
  --color-zinc-950: rgb(var(--raw-color-zinc-950));
  --color-neutral-50: rgb(var(--raw-color-neutral-50));
  --color-neutral-100: rgb(var(--raw-color-neutral-100));
  --color-neutral-200: rgb(var(--raw-color-neutral-200));
  --color-neutral-300: rgb(var(--raw-color-neutral-300));
  --color-neutral-400: rgb(var(--raw-color-neutral-400));
  --color-neutral-500: rgb(var(--raw-color-neutral-500));
  --color-neutral-600: rgb(var(--raw-color-neutral-600));
  --color-neutral-700: rgb(var(--raw-color-neutral-700));
  --color-neutral-800: rgb(var(--raw-color-neutral-800));
  --color-neutral-900: rgb(var(--raw-color-neutral-900));
  --color-neutral-950: rgb(var(--raw-color-neutral-950));
  --color-stone-50: rgb(var(--raw-color-stone-50));
  --color-stone-100: rgb(var(--raw-color-stone-100));
  --color-stone-200: rgb(var(--raw-color-stone-200));
  --color-stone-300: rgb(var(--raw-color-stone-300));
  --color-stone-400: rgb(var(--raw-color-stone-400));
  --color-stone-500: rgb(var(--raw-color-stone-500));
  --color-stone-600: rgb(var(--raw-color-stone-600));
  --color-stone-700: rgb(var(--raw-color-stone-700));
  --color-stone-800: rgb(var(--raw-color-stone-800));
  --color-stone-900: rgb(var(--raw-color-stone-900));
  --color-stone-950: rgb(var(--raw-color-stone-950));
  --color-red-50: rgb(var(--raw-color-red-50));
  --color-red-100: rgb(var(--raw-color-red-100));
  --color-red-200: rgb(var(--raw-color-red-200));
  --color-red-300: rgb(var(--raw-color-red-300));
  --color-red-400: rgb(var(--raw-color-red-400));
  --color-red-500: rgb(var(--raw-color-red-500));
  --color-red-600: rgb(var(--raw-color-red-600));
  --color-red-700: rgb(var(--raw-color-red-700));
  --color-red-800: rgb(var(--raw-color-red-800));
  --color-red-900: rgb(var(--raw-color-red-900));
  --color-red-950: rgb(var(--raw-color-red-950));
  --color-orange-50: rgb(var(--raw-color-orange-50));
  --color-orange-100: rgb(var(--raw-color-orange-100));
  --color-orange-200: rgb(var(--raw-color-orange-200));
  --color-orange-300: rgb(var(--raw-color-orange-300));
  --color-orange-400: rgb(var(--raw-color-orange-400));
  --color-orange-500: rgb(var(--raw-color-orange-500));
  --color-orange-600: rgb(var(--raw-color-orange-600));
  --color-orange-700: rgb(var(--raw-color-orange-700));
  --color-orange-800: rgb(var(--raw-color-orange-800));
  --color-orange-900: rgb(var(--raw-color-orange-900));
  --color-orange-950: rgb(var(--raw-color-orange-950));
  --color-amber-50: rgb(var(--raw-color-amber-50));
  --color-amber-100: rgb(var(--raw-color-amber-100));
  --color-amber-200: rgb(var(--raw-color-amber-200));
  --color-amber-300: rgb(var(--raw-color-amber-300));
  --color-amber-400: rgb(var(--raw-color-amber-400));
  --color-amber-500: rgb(var(--raw-color-amber-500));
  --color-amber-600: rgb(var(--raw-color-amber-600));
  --color-amber-700: rgb(var(--raw-color-amber-700));
  --color-amber-800: rgb(var(--raw-color-amber-800));
  --color-amber-900: rgb(var(--raw-color-amber-900));
  --color-amber-950: rgb(var(--raw-color-amber-950));
  --color-yellow-50: rgb(var(--raw-color-yellow-50));
  --color-yellow-100: rgb(var(--raw-color-yellow-100));
  --color-yellow-200: rgb(var(--raw-color-yellow-200));
  --color-yellow-300: rgb(var(--raw-color-yellow-300));
  --color-yellow-400: rgb(var(--raw-color-yellow-400));
  --color-yellow-500: rgb(var(--raw-color-yellow-500));
  --color-yellow-600: rgb(var(--raw-color-yellow-600));
  --color-yellow-700: rgb(var(--raw-color-yellow-700));
  --color-yellow-800: rgb(var(--raw-color-yellow-800));
  --color-yellow-900: rgb(var(--raw-color-yellow-900));
  --color-yellow-950: rgb(var(--raw-color-yellow-950));
  --color-lime-50: rgb(var(--raw-color-lime-50));
  --color-lime-100: rgb(var(--raw-color-lime-100));
  --color-lime-200: rgb(var(--raw-color-lime-200));
  --color-lime-300: rgb(var(--raw-color-lime-300));
  --color-lime-400: rgb(var(--raw-color-lime-400));
  --color-lime-500: rgb(var(--raw-color-lime-500));
  --color-lime-600: rgb(var(--raw-color-lime-600));
  --color-lime-700: rgb(var(--raw-color-lime-700));
  --color-lime-800: rgb(var(--raw-color-lime-800));
  --color-lime-900: rgb(var(--raw-color-lime-900));
  --color-lime-950: rgb(var(--raw-color-lime-950));
  --color-green-50: rgb(var(--raw-color-green-50));
  --color-green-100: rgb(var(--raw-color-green-100));
  --color-green-200: rgb(var(--raw-color-green-200));
  --color-green-300: rgb(var(--raw-color-green-300));
  --color-green-400: rgb(var(--raw-color-green-400));
  --color-green-500: rgb(var(--raw-color-green-500));
  --color-green-600: rgb(var(--raw-color-green-600));
  --color-green-700: rgb(var(--raw-color-green-700));
  --color-green-800: rgb(var(--raw-color-green-800));
  --color-green-900: rgb(var(--raw-color-green-900));
  --color-green-950: rgb(var(--raw-color-green-950));
  --color-emerald-50: rgb(var(--raw-color-emerald-50));
  --color-emerald-100: rgb(var(--raw-color-emerald-100));
  --color-emerald-200: rgb(var(--raw-color-emerald-200));
  --color-emerald-300: rgb(var(--raw-color-emerald-300));
  --color-emerald-400: rgb(var(--raw-color-emerald-400));
  --color-emerald-500: rgb(var(--raw-color-emerald-500));
  --color-emerald-600: rgb(var(--raw-color-emerald-600));
  --color-emerald-700: rgb(var(--raw-color-emerald-700));
  --color-emerald-800: rgb(var(--raw-color-emerald-800));
  --color-emerald-900: rgb(var(--raw-color-emerald-900));
  --color-emerald-950: rgb(var(--raw-color-emerald-950));
  --color-teal-50: rgb(var(--raw-color-teal-50));
  --color-teal-100: rgb(var(--raw-color-teal-100));
  --color-teal-200: rgb(var(--raw-color-teal-200));
  --color-teal-300: rgb(var(--raw-color-teal-300));
  --color-teal-400: rgb(var(--raw-color-teal-400));
  --color-teal-500: rgb(var(--raw-color-teal-500));
  --color-teal-600: rgb(var(--raw-color-teal-600));
  --color-teal-700: rgb(var(--raw-color-teal-700));
  --color-teal-800: rgb(var(--raw-color-teal-800));
  --color-teal-900: rgb(var(--raw-color-teal-900));
  --color-teal-950: rgb(var(--raw-color-teal-950));
  --color-cyan-50: rgb(var(--raw-color-cyan-50));
  --color-cyan-100: rgb(var(--raw-color-cyan-100));
  --color-cyan-200: rgb(var(--raw-color-cyan-200));
  --color-cyan-300: rgb(var(--raw-color-cyan-300));
  --color-cyan-400: rgb(var(--raw-color-cyan-400));
  --color-cyan-500: rgb(var(--raw-color-cyan-500));
  --color-cyan-600: rgb(var(--raw-color-cyan-600));
  --color-cyan-700: rgb(var(--raw-color-cyan-700));
  --color-cyan-800: rgb(var(--raw-color-cyan-800));
  --color-cyan-900: rgb(var(--raw-color-cyan-900));
  --color-cyan-950: rgb(var(--raw-color-cyan-950));
  --color-sky-50: rgb(var(--raw-color-sky-50));
  --color-sky-100: rgb(var(--raw-color-sky-100));
  --color-sky-200: rgb(var(--raw-color-sky-200));
  --color-sky-300: rgb(var(--raw-color-sky-300));
  --color-sky-400: rgb(var(--raw-color-sky-400));
  --color-sky-500: rgb(var(--raw-color-sky-500));
  --color-sky-600: rgb(var(--raw-color-sky-600));
  --color-sky-700: rgb(var(--raw-color-sky-700));
  --color-sky-800: rgb(var(--raw-color-sky-800));
  --color-sky-900: rgb(var(--raw-color-sky-900));
  --color-sky-950: rgb(var(--raw-color-sky-950));
  --color-blue-50: rgb(var(--raw-color-blue-50));
  --color-blue-100: rgb(var(--raw-color-blue-100));
  --color-blue-200: rgb(var(--raw-color-blue-200));
  --color-blue-300: rgb(var(--raw-color-blue-300));
  --color-blue-400: rgb(var(--raw-color-blue-400));
  --color-blue-500: rgb(var(--raw-color-blue-500));
  --color-blue-600: rgb(var(--raw-color-blue-600));
  --color-blue-700: rgb(var(--raw-color-blue-700));
  --color-blue-800: rgb(var(--raw-color-blue-800));
  --color-blue-900: rgb(var(--raw-color-blue-900));
  --color-blue-950: rgb(var(--raw-color-blue-950));
  --color-indigo-50: rgb(var(--raw-color-indigo-50));
  --color-indigo-100: rgb(var(--raw-color-indigo-100));
  --color-indigo-200: rgb(var(--raw-color-indigo-200));
  --color-indigo-300: rgb(var(--raw-color-indigo-300));
  --color-indigo-400: rgb(var(--raw-color-indigo-400));
  --color-indigo-500: rgb(var(--raw-color-indigo-500));
  --color-indigo-600: rgb(var(--raw-color-indigo-600));
  --color-indigo-700: rgb(var(--raw-color-indigo-700));
  --color-indigo-800: rgb(var(--raw-color-indigo-800));
  --color-indigo-900: rgb(var(--raw-color-indigo-900));
  --color-indigo-950: rgb(var(--raw-color-indigo-950));
  --color-violet-50: rgb(var(--raw-color-violet-50));
  --color-violet-100: rgb(var(--raw-color-violet-100));
  --color-violet-200: rgb(var(--raw-color-violet-200));
  --color-violet-300: rgb(var(--raw-color-violet-300));
  --color-violet-400: rgb(var(--raw-color-violet-400));
  --color-violet-500: rgb(var(--raw-color-violet-500));
  --color-violet-600: rgb(var(--raw-color-violet-600));
  --color-violet-700: rgb(var(--raw-color-violet-700));
  --color-violet-800: rgb(var(--raw-color-violet-800));
  --color-violet-900: rgb(var(--raw-color-violet-900));
  --color-violet-950: rgb(var(--raw-color-violet-950));
  --color-purple-50: rgb(var(--raw-color-purple-50));
  --color-purple-100: rgb(var(--raw-color-purple-100));
  --color-purple-200: rgb(var(--raw-color-purple-200));
  --color-purple-300: rgb(var(--raw-color-purple-300));
  --color-purple-400: rgb(var(--raw-color-purple-400));
  --color-purple-500: rgb(var(--raw-color-purple-500));
  --color-purple-600: rgb(var(--raw-color-purple-600));
  --color-purple-700: rgb(var(--raw-color-purple-700));
  --color-purple-800: rgb(var(--raw-color-purple-800));
  --color-purple-900: rgb(var(--raw-color-purple-900));
  --color-purple-950: rgb(var(--raw-color-purple-950));
  --color-fuchsia-50: rgb(var(--raw-color-fuchsia-50));
  --color-fuchsia-100: rgb(var(--raw-color-fuchsia-100));
  --color-fuchsia-200: rgb(var(--raw-color-fuchsia-200));
  --color-fuchsia-300: rgb(var(--raw-color-fuchsia-300));
  --color-fuchsia-400: rgb(var(--raw-color-fuchsia-400));
  --color-fuchsia-500: rgb(var(--raw-color-fuchsia-500));
  --color-fuchsia-600: rgb(var(--raw-color-fuchsia-600));
  --color-fuchsia-700: rgb(var(--raw-color-fuchsia-700));
  --color-fuchsia-800: rgb(var(--raw-color-fuchsia-800));
  --color-fuchsia-900: rgb(var(--raw-color-fuchsia-900));
  --color-fuchsia-950: rgb(var(--raw-color-fuchsia-950));
  --color-pink-50: rgb(var(--raw-color-pink-50));
  --color-pink-100: rgb(var(--raw-color-pink-100));
  --color-pink-200: rgb(var(--raw-color-pink-200));
  --color-pink-300: rgb(var(--raw-color-pink-300));
  --color-pink-400: rgb(var(--raw-color-pink-400));
  --color-pink-500: rgb(var(--raw-color-pink-500));
  --color-pink-600: rgb(var(--raw-color-pink-600));
  --color-pink-700: rgb(var(--raw-color-pink-700));
  --color-pink-800: rgb(var(--raw-color-pink-800));
  --color-pink-900: rgb(var(--raw-color-pink-900));
  --color-pink-950: rgb(var(--raw-color-pink-950));
  --color-rose-50: rgb(var(--raw-color-rose-50));
  --color-rose-100: rgb(var(--raw-color-rose-100));
  --color-rose-200: rgb(var(--raw-color-rose-200));
  --color-rose-300: rgb(var(--raw-color-rose-300));
  --color-rose-400: rgb(var(--raw-color-rose-400));
  --color-rose-500: rgb(var(--raw-color-rose-500));
  --color-rose-600: rgb(var(--raw-color-rose-600));
  --color-rose-700: rgb(var(--raw-color-rose-700));
  --color-rose-800: rgb(var(--raw-color-rose-800));
  --color-rose-900: rgb(var(--raw-color-rose-900));
  --color-rose-950: rgb(var(--raw-color-rose-950));

  /* Media queries */
  /* Except these don't work inside @media rules unless you use a plugin :( */
  --media-sm: 640px;
  --media-md: 768px;
  --media-lg: 1024px;
  --media-xl: 1280px;
  --media-2xl: 1536px;
}
